form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

span {
  margin-right: 1rem;
}

input {
  width: 50px;
  margin-right: 1rem;
  margin-left: 1rem;
}

div {
  text-align: right;
}

button {
  border-radius: 100%;
  background-color: black;
  color: white;
  border: none;
}
