article {
  background-color: rgb(228, 228, 228);
  border-radius: 2rem;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  margin: 2rem 0;
}

summary {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

caption {
  display: flex;
  justify-content: right;
}

h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

div:nth-child(1) span {
  color: rgb(79, 79, 79);
}

div:nth-child(2) {
  display: flex;
  align-items: flex-end;
  gap: 0.3rem;
}

div:nth-child(2) span {
  font-size: 1.2rem;
  font-weight: 600;
}

form {
  display: flex;
}

input {
  margin-right: 0.5rem;
  border-color: black;
}
