main {
  margin: 2rem 10rem;
  background-color: #c4c4c4;
  border-radius: 1.5rem;
  padding: 3rem;
}

h1 {
  margin-bottom: 2rem;
}
form {
  display: flex;
  gap: 1rem;
}
button {
  background-color: black;
  color: white;
  border: none;
  border-radius: 1rem;
}
